<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing...</title>
</head>
<body>
    <div class="container">
        <h1>Make Changes</h1>
        <form action="/<%= item.id %>/edits?_method=PUT " method="POST">
            <input type="text" name="date" value="<%= item.date %>">
            <input type="text" name="name" value="<%= item.name %>">
            <input type="number" name="amount" value="<%= item.amount %>">
            <input type="text" name="from" value="<%= item.from %>">
            <input type="text" name="tags" value="<%= item.tags %>">
            <input type="submit" name="submit">
        </form>
    </div>
</body>
</html>